@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";


body {
      background-color: #f3f3f3;
}

li {
  list-style-type: none;
}

li.show {
  list-style: none;
}

li:hover {
  color: white;
  background-color: #9a81ff;
  /* border-radius: 4px; */
  padding-left: 5px;
}


li.todo-list:hover {
  background-color: transparent;
  color: #9a81ff;
  padding-left: 0px;

}

a.color-link {
  color : #4911b5 !important;
  font-weight: 400;
}
a.color-link-light {
  color : #4911b5 !important;
  font-weight: 200;
}

.shared-links > a {
  color: #8d5ab7 !important;
}
.list-col {
    border-left: 4px solid #4911b5;
  }

ul.my-list-tasks {
  border-left: 4px solid #4911b5;
  color: #0e014e;

}

ul.d-flex.justify-content-between.flex-column.p-5 {
    border-top: 4px solid #4911b5;
    background-color: white;
    color: #21045a;
    font-size: 1.3rem;
    font-weight: 300;
}

.email-read {
  color: grey;
}


a.text-primary {
  list-style: none;
  line-height: 1.8rem;
  color: #0e014e !important;
  font-weight: lighter;
}

.text-primary:hover {
  text-decoration: none;
}

.far {    color: #0e014e;}

a.delete-email {
  align-self: flex-end;
  position: absolute;
  bottom: 10px;
}

.card.p-3.h-100 {
  box-shadow: 5px 5px #4911b5;
  border: 2px solid #9a81ff;
}


input#title {
    box-shadow: 5px 5px #4911b5;
    border: 2px solid #9a81ff;
}

input#deadline {
    box-shadow: 5px 5px #4911b5;
    border: 2px solid #9a81ff;
}

select#Category {
    box-shadow: 5px 5px #4911b5;
    border: 2px solid #9a81ff;
}

input#task-event {
    border: 1px solid #4911b5;
    color: #0e014e;
}

.form-label {
  color: #21045a !important;
}
